/* Fonts __________*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
/* Variables __________*/
/* Titre ______*/
$oswald: "Oswald", sans-serif;
/* Menu, Link, button ______*/
$roboto: "Roboto", sans-serif;
/* Text ______*/
$space-mono: "Space Mono", monospace;

* {
  outline: none;
  text-decoration: none;
  font-family: "Space Mono", monospace;
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  font-size: 100%;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  body {
    line-height: 1.3;
    margin: 0;
    padding: 0;
    background: var(--light-to-dark);
    color: var(--dark-to-light);
    max-width: 100vw;
    overflow-x: hidden;
    a,
    a:hover,
    a:visited,
    a:active {
      text-decoration: none;
      color: inherit;
    }
    h1,
    h2,
    h3,
    h4 {
      font-family: $oswald;
    }
    h1 {
      font-size: 1.8em;
      text-align: center;
      @media (max-width: 991.98px) {
        font-size: 36px;
      }
      @media (max-width: 611.98px) {
        font-size: 24px;
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
    }

    button {
      @include button($black, $white);
      &:hover {
        @include buttonHover($white);
      }
    }
  }
}
/* Classes __________*/
.btn-blue {
  @include button($white, $blue);
  &:hover {
    @include buttonHover($blue);
  }
}
.btn-red {
  @include button($white, $red);
  &:hover {
    @include buttonHover($red);
  }
}
.alert {
  color: rgb(245, 92, 92);
}
/* Convention des style __________
-- display- position
-- width / height
-- margin / padding
-- background
-- border 
-- box shadow
-- font 
*/
