/* Variables __________*/
$light-gray: #fafafa;
$blue: #3b82f6;
$gray: #374151;
$gray-card: #c4c4c4;
$white: #ffffff;
$black: #000000;
$red: #ec3434;

/* Mixins __________*/
@mixin button($textColor, $borderColor, $backgroundColor) {
  color: $textColor;
  border: 1px solid $borderColor;
  background-color: $backgroundColor;
  padding: 7px 14px;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px auto 0 auto;
  display: block;
}

@mixin buttonHover($textColor, $backgroundColor) {
  color: $textColor;
  background: $backgroundColor;
}
