/* Variables __________*/
$light-gray: #fafafa;
$blue: #3b82f6;
$gray: #374151;
$gray-card: #c4c4c4;

/* Mixins __________*/
@mixin button($borderColor, $backgroundColor) {
  border: 1px solid $borderColor;
  background-color: $backgroundColor;
  padding: 7px 14px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    color: white;
    background: $gray;
  }
}
